/* App.css */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main-content {
  flex-grow: 1;
  padding: 20px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  color: #333;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}